@model ShoppingApp.Models.Item

<form id="EditForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" class="form-control" />

    <div class="form-group">
        <label asp-for="ItemName" class="control-label"></label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Unit" class="control-label"></label>
        <input asp-for="Unit" class="form-control" />
        <span asp-validation-for="Unit" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"></label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display:none" id="btnEditSpinner"></span>
            Save
        </button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
