html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



#logoimg {
    background-color: white;
    border-radius: 30px;
    padding: 7px;
    /* or to blue */
    filter: sepia(1) saturate(5) hue-rotate(175deg);
}

#logoimg {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


